---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

export const prerender = import.meta.env.BUILD_MODE === "static";

const previewMode = Astro.url.searchParams.get("preview") === "true";
const posts = await getPosts(previewMode);
---

<Layout title="Welcome to Astro.">
  <section>
    {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />}
  </section>
</Layout>
